# scipy stack
numpy ~= 1.26.4
scipy ~= 1.13.1
matplotlib ~= 3.9.0
pandas ~= 2.2.2
ipython ~= 8.24.0
# data analysis
scikit-learn ~= 1.5.1
lmfit ~= 1.3.1
# data transport, IO
pyzmq ~= 25.1.0
h5py ~= 3.11.0
msgpack ~= 1.0.5
toml ~= 0.10.2
# GUI, visualization
PyQt6 ~= 6.7.0
pyqtgraph ~= 0.13.3
networkx ~= 2.7.1
# dev tools
pytest ~= 8.2.1
pytest-timeout ~= 2.1.0
black ~= 24.3.0
flake8 ~= 7.0.0
sphinx ~= 7.0.1
pydata-sphinx-theme ~= 0.13.3
# these libraries may not be straightforward to install via pip.
# pygraphviz ~= 1.9
# opencv-python ~= 4.6.0.66
